<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.videojj.videoservice.dao.TbLaunchPlanMapper">
  <resultMap id="BaseResultMap" type="com.videojj.videoservice.entity.TbLaunchPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="launch_plan_name" jdbcType="VARCHAR" property="launchPlanName" />
    <result column="interaction_id" jdbcType="INTEGER" property="interactionId" />
    <result column="creative_id" jdbcType="INTEGER" property="creativeId" />
    <result column="creative_image_id" jdbcType="INTEGER" property="creativeImageId" />
    <result column="launch_video_id" jdbcType="VARCHAR" property="launchVideoId" />
    <result column="launch_time_type" jdbcType="TINYINT" property="launchTimeType" />
    <result column="launch_date_start" jdbcType="TIMESTAMP" property="launchDateStart" />
    <result column="launch_date_end" jdbcType="TIMESTAMP" property="launchDateEnd" />
    <result column="launch_time" jdbcType="VARCHAR" property="launchTime" />
    <result column="launch_len_time" jdbcType="VARCHAR" property="launchLenTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="extra_info" jdbcType="VARCHAR" property="extraInfo" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="gmt_created" jdbcType="TIMESTAMP" property="gmtCreated" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="is_deleted" jdbcType="CHAR" property="isDeleted" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="hotspot_track_link" jdbcType="VARCHAR" property="hotspotTrackLink" />
    <result column="info_track_link" jdbcType="VARCHAR" property="infoTrackLink" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, launch_plan_name, interaction_id, creative_id, creative_image_id, launch_video_id,
    launch_time_type, launch_date_start, launch_date_end, launch_time, launch_len_time,
    status, extra_info, creator, gmt_created, MODIFIER, gmt_modified, is_deleted, operation_id,
    hotspot_track_link, info_track_link
  </sql>



  <select id="selectPage" resultType="com.videojj.videoservice.entity.TbLaunchPlanExt" >

    select

    tlp.id,
    tlp.launch_plan_name launchPlanName,

    tci.interaction_name interactionName,
    tci.material_name creativeName,

    tlp.interaction_id interactionId,
    tlp.creative_id creativeId,
    tlp.launch_video_id launchVideoId,
    tlp.launch_time_type launchTimeType,
    tlp.launch_date_start launchDateStart,
    tlp.launch_date_end launchDateEnd,
    tlp.launch_time  launchTime,
    tlp.launch_len_time  launchLenTime,
    tlp.status  status,
    tlp.extra_info extraInfo,
    tlp.creator creator,
    tlp.gmt_created gmtCreated,
    tlp.MODIFIER modifier,
    tlp.gmt_modified gmtModified,
    tlp.is_deleted isDeleted,
    tlp.hotspot_track_link hotspotTrackLink,
    tlp.info_track_link infoTrackLink

    from tb_launch_plan tlp

    left join tb_creative_image tci on tlp.creative_image_id = tci.id
    where tlp.is_deleted = 'N'

    <if test="interactionTypeId != null">
      and tlp.interaction_id = #{interactionTypeId,jdbcType=INTEGER}
    </if>

  </select>

  <select id="selectOperationPage" resultType="com.videojj.videoservice.entity.TbLaunchPlanOperationExt" >

    select

    tlp.id,
    tlp.launch_plan_name launchPlanName,

    tci.interaction_name interactionName,
    tci.material_name creativeName,

    tlp.interaction_id interactionId,
    tlp.creative_id creativeId,
    tlp.launch_time_type launchTimeType,
    tlp.launch_date_start launchDateStart,
    tlp.launch_date_end launchDateEnd,
    tlp.launch_time  launchTime,
    tlp.launch_len_time  launchLenTime,
    tlp.status  status,
    tlp.extra_info extraInfo,
    tlp.creator creator,
    tlp.gmt_created gmtCreated,
    tlp.MODIFIER modifier,
    tlp.gmt_modified gmtModified,
    tlp.is_deleted isDeleted,
    tlp.hotspot_track_link hotspotTrackLink,
    tlp.info_track_link infoTrackLink

    from tb_launch_plan_operation tlp

    left join tb_creative_image tci on tlp.creative_image_id = tci.id
    where tlp.is_deleted = 'N'

    <if test="interactionTypeId != null">
      and tlp.interaction_id = #{interactionTypeId,jdbcType=INTEGER}
    </if>

    <if test="launchTimeType != null">
      and tlp.launch_time_type = #{launchTimeType,jdbcType=TINYINT}
    </if>

  </select>




  <select id="selectDetailInfoById" resultType="com.videojj.videoservice.entity.TbLaunchPlanExt" >

    select

    tlp.id,
    tlp.launch_plan_name launchPlanName,

    tci.interaction_name interactionName,
    tci.material_name creativeName,

    tlp.interaction_id interactionId,
    tlp.creative_id creativeId,
    tlp.launch_video_id launchVideoId,
    tlp.launch_time_type launchTimeType,
    tlp.launch_date_start launchDateStart,
    tlp.launch_date_end launchDateEnd,
    tlp.launch_time  launchTime,
    tlp.launch_len_time  launchLenTime,
    tlp.status  status,
    tlp.extra_info extraInfo,
    tlp.creator creator,
    tlp.gmt_created gmtCreated,
    tlp.MODIFIER modifier,
    tlp.gmt_modified gmtModified,
    tlp.is_deleted isDeleted,
    tlp.hotspot_track_link hotspotTrackLink,
    tlp.info_track_link infoTrackLink

    from tb_launch_plan tlp

    left join tb_creative_image tci on tlp.creative_image_id = tci.id

    where tlp.is_deleted = 'N'

    <if test="launchPlanId != null">
      and tlp.id = #{launchPlanId,jdbcType=INTEGER}
    </if>

  </select>

  <select id="selectByVideoId" resultType="com.videojj.videoservice.entity.TbLaunchPlanApiInfoExt" >

    select

    tlp.launch_video_id launchVideoId,

    tlp.launch_date_start launchDateStart,
    tlp.launch_date_end launchDateEnd,
    tlp.launch_time  launchTime,
    tlp.launch_len_time  launchLenTime,
    tlp.launch_time_type launchTimeType,

    tt.template_file_name templateFileName,
    tci.material_content materialContent,
    tci.hot_spot_num hotSpotNum,
    tci.source_id sourceId,
    tlp.hotspot_track_link hotspotTrackLink,
    tlp.info_track_link infoTrackLink

    from tb_launch_plan tlp
    left join tb_creative_image  tci on tlp.creative_image_id = tci.id
    --     and tc.is_deleted = 'N'
    left join tb_template tt on tci.template_id = tt.id
    and tt.is_deleted = 'N'
    where tlp.is_deleted = 'N'

    <if test = "id != null">

      and tlp.id = #{id,jdbcType = INTEGER}
    </if>

    <if test="videoId != null">
      and tlp.launch_video_id = #{videoId,jdbcType=VARCHAR}
    </if>
    <if test="nowDate !=  null">
      AND tlp.launch_date_end  &gt;= #{nowDate,jdbcType=DATE}
    </if>
    <if test="nowDate !=  null">
      AND tlp.launch_date_start  &lt;= #{nowDate,jdbcType=DATE}
    </if>

    <if test="launchTimeType !=  null">
      AND tlp.launch_time_type  = #{launchTimeType,jdbcType=TINYINT}
    </if>
    and tlp.status = 1

  </select>

  <select id="selectLaunchTimeTypeByVideoId" resultType="Byte" >
    select distinct a.launch_time_type from tb_launch_plan a where a.is_deleted = 'N' and a.launch_video_id = #{videoId} and a.status=1
  </select>

  <select id="selectCreativeFileUrlWithVideoTimeByVideoId" resultType="String" >
    <!-- 如果是在视频时间投放的，就查询出所有的在该视频时间里面投放的素材的文件的链接。-->
    select b.file_url from tb_launch_plan a inner join tb_creative_file b on
    a.launch_video_id = #{videoId} and a.launch_time_type = 0 and a.is_deleted = 'N' and a.status = 1 and a.launch_date_start &lt;= now() and now() &lt;= a.launch_date_end
    and a.creative_id = b.creative_id and b.is_deleted = 'N';
  </select>

  <select id="selectCreativeFileUrlWithRealTimeByVideoId" resultType="String" >
    <!-- 如果视频id有即刻投放的计划，并且是处于线上状态的，一并返回。 -->
    select b.file_url from tb_launch_plan a inner join tb_creative_file b on
    a.launch_video_id = #{videoId} and a.launch_time_type = 1 and a.is_deleted = 'N' and a.status = 1
    and a.creative_id = b.creative_id and b.is_deleted = 'N';
  </select>

  <select id="selectCreativeFileUrlWithBjTimeByVideoId" resultType="Map" >
    <!-- 查询在未来4小时之内北京时间投放的投放计划，所包含的所有的素材关联的文件链接。 -->
    <!-- 先查询出当天的，再在service层进行进一步的筛选。 -->
    select b.file_url,a.launch_date_start,a.launch_date_end,a.launch_time from tb_launch_plan a inner join tb_creative_file b on
    a.launch_video_id = #{videoId} and a.launch_time_type = 2 and a.is_deleted = 'N' and a.status = 1 and a.launch_date_start &lt;= now() and now() &lt;= a.launch_date_end
    and a.creative_id = b.creative_id and b.is_deleted = 'N';
  </select>

  <select id="selectByOperationId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_launch_plan
    where operation_id = #{operationId,jdbcType=INTEGER}
    and is_deleted='N'
  </select>

  <select id="selectBjTimeByDate" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_launch_plan a
    where a.launch_time_type = 2 and a.is_deleted = 'N' and a.status = 1 and a.launch_date_start &lt;= #{date} and #{date} &lt;= a.launch_date_end
  </select>

  <select id="selectInUseByCreativeId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_launch_plan a
    where a.creative_id = #{creativeId,jdbcType=INTEGER} and a.is_deleted = 'N' and a.status in (1,2)
  </select>

  <select id="selectOnlineByLaunchVideoId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_launch_plan a
    where a.launch_video_id = #{launchVideoId,jdbcType=VARCHAR} and a.is_deleted = 'N' and a.status = 1
  </select>

  <update id="updateStatusByOperationId">
    update tb_launch_plan set status=#{launchStatus} where operation_id=#{launchPlanOperationId} and is_deleted = 'N'
  </update>


</mapper>