<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.videojj.videoservice.dao.TbLaunchTaskExecuteMapper" >
  <resultMap id="BaseResultMap" type="com.videojj.videoservice.entity.TbLaunchTaskExecute" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="execute_name" property="executeName" jdbcType="VARCHAR" />
    <result column="launch_plan_id" property="launchPlanId" jdbcType="INTEGER" />
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
    <result column="execute_status" property="executeStatus" jdbcType="TINYINT" />
    <result column="extra_info" property="extraInfo" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
  </resultMap>
  <sql id="Common_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Common_Where_Clause" >
    <where >
      <foreach collection="col.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, execute_name, launch_plan_id, execute_time, execute_status, extra_info, creator, 
    gmt_created, MODIFIER, gmt_modified, is_deleted
  </sql>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.videojj.videoservice.entity.TbLaunchTaskExecuteCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_launch_task_execute
    <if test="_parameter != null" >
      <include refid="Common_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_launch_task_execute
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.videojj.videoservice.entity.TbLaunchTaskExecute" >
    insert into tb_launch_task_execute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="executeName != null" >
        execute_name,
      </if>
      <if test="launchPlanId != null" >
        launch_plan_id,
      </if>
      <if test="executeTime != null" >
        execute_time,
      </if>
      <if test="executeStatus != null" >
        execute_status,
      </if>
      <if test="extraInfo != null" >
        extra_info,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="executeName != null" >
        #{executeName,jdbcType=VARCHAR},
      </if>
      <if test="launchPlanId != null" >
        #{launchPlanId,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executeStatus != null" >
        #{executeStatus,jdbcType=TINYINT},
      </if>
      <if test="extraInfo != null" >
        #{extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByParam" parameterType="com.videojj.videoservice.entity.TbLaunchTaskExecuteCriteria" resultType="java.lang.Integer" >
    select count(*) from tb_launch_task_execute
    <if test="_parameter != null" >
      <include refid="Common_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamSelective" parameterType="map" >
    update tb_launch_task_execute
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.executeName != null" >
        execute_name = #{record.executeName,jdbcType=VARCHAR},
      </if>
      <if test="record.launchPlanId != null" >
        launch_plan_id = #{record.launchPlanId,jdbcType=INTEGER},
      </if>
      <if test="record.executeTime != null" >
        execute_time = #{record.executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.executeStatus != null" >
        execute_status = #{record.executeStatus,jdbcType=TINYINT},
      </if>
      <if test="record.extraInfo != null" >
        extra_info = #{record.extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Common_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.videojj.videoservice.entity.TbLaunchTaskExecute" >
    update tb_launch_task_execute
    <set >
      <if test="executeName != null" >
        execute_name = #{executeName,jdbcType=VARCHAR},
      </if>
      <if test="launchPlanId != null" >
        launch_plan_id = #{launchPlanId,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        execute_time = #{executeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="executeStatus != null" >
        execute_status = #{executeStatus,jdbcType=TINYINT},
      </if>
      <if test="extraInfo != null" >
        extra_info = #{extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>