<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.videojj.videoservice.dao.TbTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.videojj.videoservice.entity.TbTemplate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="template_name" property="templateName" jdbcType="VARCHAR" />
    <result column="interaction_type_name" property="interactionTypeName" jdbcType="VARCHAR" />
    <result column="interaction_id" property="interactionId" jdbcType="INTEGER" />
    <result column="template_file_name" property="templateFileName" jdbcType="VARCHAR" />
    <result column="template_file_source_name" property="templateFileSourceName" jdbcType="VARCHAR" />
    <result column="extra_info" property="extraInfo" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="MODIFIER" property="modifier" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
  </resultMap>
  <sql id="Common_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Param_Where_Clause" >
    <where >
      <foreach collection="col.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, template_name,interaction_type_name,interaction_id, template_file_name, template_file_source_name, extra_info,
    creator, gmt_created, MODIFIER, gmt_modified, is_deleted
  </sql>
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.videojj.videoservice.entity.TbTemplateCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_template
    <if test="_parameter != null" >
      <include refid="Common_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_template
    where id = #{id,jdbcType=INTEGER}
    and is_deleted = 'N'
  </select>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.videojj.videoservice.entity.TbTemplate" >
    insert into tb_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="templateName != null" >
        template_name,
      </if>

      <if test="interactionId != null" >
        interaction_id,
      </if>
      <if test="interactionTypeName != null" >
        interaction_type_name,
      </if>
      <if test="templateFileName != null" >
        template_file_name,
      </if>
      <if test="templateFileSourceName != null" >
        template_file_source_name,
      </if>
      <if test="extraInfo != null" >
        extra_info,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifier != null" >
        MODIFIER,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>

      <if test="interactionId != null" >
        #{interactionId,jdbcType=INTEGER},
      </if>
      <if test="interactionTypeName != null" >
        #{interactionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="templateFileName != null" >
        #{templateFileName,jdbcType=VARCHAR},
      </if>
      <if test="templateFileSourceName != null" >
        #{templateFileSourceName,jdbcType=VARCHAR},
      </if>
      <if test="extraInfo != null" >
        #{extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByParam" parameterType="com.videojj.videoservice.entity.TbTemplateCriteria" resultType="java.lang.Integer" >
    select count(*) from tb_template
    <if test="_parameter != null" >
      <include refid="Common_Where_Clause" />
    </if>
  </select>
  <update id="updateByParamSelective" parameterType="map" >
    update tb_template
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.templateName != null" >
        template_name = #{record.templateName,jdbcType=VARCHAR},
      </if>

      <if test="record.interactionTypeName != null" >
        interaction_type_name = #{record.interactionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.interactionId != null" >
        interaction_id = #{record.interactionId,jdbcType=INTEGER},
      </if>
      <if test="record.templateFileName != null" >
        template_file_name = #{record.templateFileName,jdbcType=VARCHAR},
      </if>
      <if test="record.templateFileSourceName != null" >
        template_file_source_name = #{record.templateFileSourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.extraInfo != null" >
        extra_info = #{record.extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreated != null" >
        gmt_created = #{record.gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifier != null" >
        MODIFIER = #{record.modifier,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isDeleted != null" >
        is_deleted = #{record.isDeleted,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Param_Where_Clause" />
    </if>
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.videojj.videoservice.entity.TbTemplate" >
    update tb_template
    <set >
      <if test="templateName != null" >
        template_name = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="interactionId != null" >
        interaction_id = #{interactionId,jdbcType=INTEGER},
      </if>
      <if test="interactionTypeName != null" >
        interaction_type_name = #{interactionTypeName,jdbcType=VARCHAR},
      </if>
      <if test="templateFileName != null" >
        template_file_name = #{templateFileName,jdbcType=VARCHAR},
      </if>
      <if test="templateFileSourceName != null" >
        template_file_source_name = #{templateFileSourceName,jdbcType=VARCHAR},
      </if>
      <if test="extraInfo != null" >
        extra_info = #{extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null" >
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByParamWithPage" parameterType="com.videojj.videoservice.bo.QueryTemplateParamBo" resultMap="BaseResultMap" >

    select
    <include refid="Base_Column_List" />
    from tb_template tt
      where tt.is_deleted = 'N'

    <if test="param.interactionTypeId != null">
      and tt.interaction_id = #{param.interactionTypeId,jdbcType=INTEGER}
    </if>
    order by tt.gmt_created desc
    <if test="param.offset != null">
      limit ${param.offset} , ${param.size}
    </if>
  </select>


  <select id="selectByTemplateId" resultType="com.videojj.videoservice.bo.TemplateSimpleInfoBo" >

    select

    tt.id templateId ,
    tt.template_name templateName,
    tt.interaction_type_name interactionName,
    tt.interaction_id interactionId,
    tt.template_file_source_name templateFileSourceName


    from tb_template tt
    where tt.is_deleted = 'N'
    <if test="templateId != null">
      and tt.id = #{templateId,jdbcType=INTEGER}
    </if>


  </select>

  <update id="logicallyDeleteByInteractionTypeName">
    update tb_template set is_deleted='Y',MODIFIER=#{username} where interaction_id=(select id from tb_interaction where interaction_type_name=#{interactionTypeName})
  </update>

  <update id="updateInteractionTypeNameByInteractionId">
    update tb_template set interaction_type_name = (select interaction_type_name from tb_interaction where id=#{interactionId})
    where interaction_id=#{interactionId}
  </update>

</mapper>